html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; }

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 20px; }

.top-header {
  background-color: white;
  padding: 15px;
  display: flex;
  width: 100%;
  height: 50px; }

.login {
  width: 10%;
  margin-left: 10px; }
  .login a {
    text-decoration: none;
    color: black; }

.country {
  width: 20%;
  margin-left: 10px; }

.logo {
  width: 25%;
  border-style: solid;
  border-width: 1px;
  margin: 0 60px;
  text-align: center;
  padding-top: 16px; }

.search {
  width: 35%;
  margin-left: 10px; }
  .search input {
    width: 100%;
    height: 25px;
    padding-left: 2%; }

.lock-desktop {
  width: 10%;
  margin-left: 40px;
  font-size: 30px; }

/*Country drop down*/
.country-list {
  background-color: white;
  position: relative;
  z-index: 998; }

.country .dropdown ul {
  list-style: none; }

.country .select {
  position: relative;
  background: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer; }
  .country .select .flag-icon {
    box-sizing: border-box;
    display: inline-block;
    margin-right: 10px;
    width: 30px;
    height: 20px;
    background-repeat: no-repeat;
    background-color: #e3e5e7; }

.country .dropdown .flag-icon {
  box-sizing: border-box;
  display: inline-block;
  margin-right: 10px;
  width: 30px;
  height: 20px;
  background-repeat: no-repeat;
  background-color: #e3e5e7; }

.country .select img, .country .dropdown img {
  height: 12px;
  width: 12px; }

.flag-de {
  background-image: url("../img/countries/de.png");
  background-color: #cccccc; }

.flag-fr {
  background-image: url("../img/countries/fr.png"); }

.flag-gb {
  background-image: url("../img/countries/gb.png"); }

.flag-in {
  background-image: url("../img/countries/in.png"); }

.country .dropdown li {
  /*padding: 0 20px;*/
  line-height: 34px;
  font-size: 13px;
  font-weight: 400;
  color: #828282;
  cursor: pointer; }
  .country .dropdown li:first-child {
    margin-top: 12px; }
  .country .dropdown li:last-child {
    margin-bottom: 12px; }
  .country .dropdown li:hover {
    background: #dedede;
    color: #454545; }
  .country .dropdown li.open {
    display: block; }

/*Mobile*/
.top-header-mobile {
  display: none; }

.nav-mobile-expanded {
  display: none;
  left: 0;
  top: 0; }

.ion-navicon-round {
  height: 30px;
  width: 30px; }

/*header*/
.mob-top-header {
  background-color: white;
  padding: 10px 20px;
  display: flex;
  height: 40px; }

.mobicon {
  margin-right: 30%;
  width: 25%;
  font-size: 30px; }

.logo-mobile {
  margin-right: 30%;
  width: 65%;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  padding-top: 11px; }

.mob-lock {
  width: 25%;
  font-size: 30px; }

.search-mobile input {
  width: 100%;
  height: 30px;
  padding-left: 2%; }

/*Big tablets to 1200px (widths small than the 1140px row) */
/* Small tablet to big tablet: from 921px to 1023px */
/* Small phones to small tablets: from 768px to 920px */
/* Small phones to small tablets: from 551px to 767px */
/* Small phones: from 0 to 480px */
@media only screen and (max-width: 550px) {
  .top-header, .nav-desktop {
    display: none; }
  .top-header-mobile {
    display: block; } }

/*Desktop navigation*/
.nav-desktop {
  background-color: black;
  height: 30px;
  padding-top: 15px; }

.nav-desktop-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .nav-desktop-list li {
    display: inline;
    padding: 20px;
    text-decoration: none; }
    .nav-desktop-list li a {
      text-decoration: none;
      color: white; }
      .nav-desktop-list li a img {
        width: 12px;
        height: 12px; }

/*Mobile navigation*/
.nav-mobile {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white; }
  .nav-mobile li {
    height: 40px;
    border-style: solid;
    border-width: 0.1px;
    border-color: #dcdcdc;
    border-bottom: 0; }

.close {
  display: block;
  text-align: right;
  padding-top: 25px;
  padding-right: 10px; }

.close-icon {
  height: 15px;
  width: 15px;
  vertical-align: middle; }

.nav-mobile li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black; }
